<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create New Guild</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Enter a guild name
        <br>
            <input type="text" name="inputRoom" ng-model="$ctrl.text">
        <br>
    </div>
    <div class="modal-footer"> 
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">Create Guild</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>

    

