<html>
<body>
    <div class="row chatheight">
        <div class="col-sm-2">
            <section class="sidebar">
                <span id=heading>
                <div class="buttonrow">
                    <button class="btn-primary" type="button" ng-click="roomCtrl.createPopUp()">New Guild</button>
                    <h1>Market Place</h1>
                </div>
                </span>
                <div class="style container" ng-repeat="room in roomCtrl.rooms">
                    <p><a ng-click="roomCtrl.selectRoom(room)">{{room.$value}}</a></p>      
                </div>
            </section>
        </div>
        <div class="col-md-10" > 
            <section class="chatcontainer">
                <h3>{{roomCtrl.currentRoom.$value}}</h3>
            </section>

            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="message in roomCtrl.messages">
                        <td>
                            <strong>{{message.username}}</strong><br>
                            {{message.content}}
                            
                        </td>
                        <td></td>
                        <td>
                            {{message.sentAt|date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
